/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-peppermint);
  --body-background-colour: var(--colour-cello);
}

/*
  PAGE / BODY
*/
body {
  font-family: 'Calibri';
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
}

header{
  background: rgb(29,53,87);
  background: linear-gradient(0deg, rgba(29,53,87,1) 10%, rgba(10,28,55,1) 100%);
}

.header-grid {
  padding: 0.5rem;
  padding-right:1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .header-grid{
    flex-direction:row;
  }
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:1.3rem;
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  header ul{
    flex-direction:row;
  }
}

header ul li {
  margin-left: 2.8rem;
}

header ul li a {
  text-decoration:none;
  color:white;
}

header ul li a:hover {
  text-decoration: underline;
}

.top-block-logo{
  height:3rem;
  width:auto;
  border-radius: 1rem;
  margin:1rem;
}

.bop-or-flop-title{
  font-size: 2rem;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .bop-or-flop-title{
    font-size:3.5rem;
  }
}

.bop-or-flop-title h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .bop-or-flop-title h1{
   flex-direction: row;
  }
}

.bop:hover{
  text-shadow: #eeff00 0px 0px 15px;
}

.flop:hover {
  text-shadow: #d34e4e 0px 0px 15px;
}

/* Styling for page structure */
.all-content-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-column: 1fr;
  align-items: start;
  background-color: #122641 0.5;
  justify-content: center;
  margin: 1rem;
}

@media screen and (max-width: 800px) { 
  .all-content-sections {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: start;
    background-color: #122641 0.5;
    margin: 1rem;
    width: 100%;
  }
}

.alex-section {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  max-width: 100%;
}
@media screen and (max-width: 800px) {
  .alex-section {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    max-width: 100%;
  }
}

.noor-section {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  max-width: 100%;
  width: 100%;
}
@media screen and (max-width: 800px) { 
  .noor-section {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: 100%;
  }
}

    .corinna-section {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row: 2;
      max-width: 100%;
    }

      @media screen and (max-width: 800px) {
        .corinna-section {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row: 4;
          max-width: 100%;
        }
      }


    .logan-section {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      max-width: 100%;
    }

       @media screen and (max-width: 800px) {
        .logan-section {
          grid-column: 1;
          grid-row: 3;
          max-width: 100%;
        }
      } 










      
    /* ---- Alex's section ---- */
    .the-scoop {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-rows: auto;
        text-align: center;
        background: rgb(29,53,87);
        background: linear-gradient(0deg, rgba(29,53,87,1) 90%, rgba(10,28,55,1) 100%);
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }

      @media screen (min-width: 800px) {
        .the-scoop {
          display: grid;
          grid-template-columns: 1fr; 
          grid-auto-rows: auto;
          text-align: center;
          background-color: #122641;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
      }
    }

    .TS-S1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;

      padding: 1rem;
      margin: 1rem;    
      border-radius: 1rem;
    }


      .the-scoop-heading-styling{
        font-size: xx-large;
        color: #fbffc0;
      }
        .TS-S1 p{
          font-size: large;
          color: #fbffc0;
          } 
        
        
        .TS-S2 {
          grid-column: 1 / 3;

          grid-row: 2;

          padding: 1rem;
          margin: 1rem;

          color: #fbffc0;
          font-size: x-large;
          border-radius: 1rem;
          background-color: #122641;
          border-radius:1rem;

        }



        
        .TS-S3 {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row: 3;
            margin-bottom: 1rem;

            color: #fbffc0;
            font-size: x-large;
        }


        .TS-S4-L {
          grid-column-start: 1;
          grid-column-end: 2;

          grid-row: 4;

          color: #fbffc0;
          font-size: large;
          background-color: #122641;
          padding: 1rem;
          border-radius:1rem;
          margin-left:1rem;
          margin-right:0.5rem;
        }

          .TS-S4-L h5{
            font-size: medium;
            color: #f2ff3f;
            font-size: large;
          }

          .jacksfilms-pic {
            width: 8rem;
            height: auto;
              margin: auto;
          }

          .jacksfilms-about {
            font-size: 1.2rem;
          }

        .TS-S4-R {
          grid-column-start: 2;
          grid-column-end: 3;

          grid-row-start: 4;
          grid-row-end: 5;

          color: #fbffc0;
          font-size: 1.2rem;
          background-color: #122641;
          padding: 1rem;
          border-radius:1rem;
          margin-right:1rem;
          margin-left:0.5rem;
        }

          .TS-S4-R h5{
            font-size: 1rem;
            color: #ff2727;
            font-size: large;
          }

            .ssniperwolf-pic {
              width: 8rem;
              height: auto;
              margin: auto;
            }


        .TS-S5 {
          grid-column-start: 1;
          grid-column-end: 3;

          grid-row-start: 5;
          grid-row-end: 6;

            margin-bottom: 2rem;

            color: #fbffc0;
            font-size: 1.2rem;
            background-color: #122641;
            margin: 1rem;
            padding: 1rem;
            border-radius:1rem;

         }

          .TS-story-title {
            font-size: large;
            margin-bottom: 1rem;
            margin-top: 1rem;
          }


        .TS-S6 {
          grid-column-start: 1;
          grid-column-end: 3;

          grid-row-start: 6;
          grid-row-end: 7;

          color: #fbffc0;
          background-color: #122641;
          margin: 1rem;
          padding: 1rem;
          border-radius:1rem;
          font-size: 1.2rem;

        }



              

    /* ---- Noor's section ---- */

    .listen-up {
      border-radius: 1rem;
      background: rgb(29,53,87);
      background: linear-gradient(0deg, rgba(29,53,87,1) 90%, rgba(10,28,55,1) 100%);
      margin: 1rem;
    }

    .listen-top {
      border-radius: 1rem;
      padding: 0.2rem;
      margin: 1rem;
    }
    
    .listen-up h2 {
      text-align: center;
      font-size: 3rem;
      color: #f1faee;
    }
    
    .listen-headline {
      text-align: center;
      font-size: 1.5rem;
      color: #f1faee;
    }

    .reviews {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 0.5rem;
    }

    .albms {
      float: left;
      width: auto;
      padding: 0.5rem;
      border-radius: 0.8rem;
    }

    .rating {
      font-size: 2.5rem;
      text-shadow: #a8dadc 0px 0px 8px;
    }

    .listen-name {
      font-size: 2rem;
      font-weight: bolder;
    }

    .listen-author {
      font-size: 1rem;
      font-style: italic;
      font-weight: bold;
      color:#457b9d;
    }
    
    .listen-review {
      text-align: left;
      font-size: 1rem;
      color: #f1faee;
      overflow: auto;
      padding: 0.5rem;
    }

    .rev1 {
      /* border: #e63946 solid 1px; */
      background-color: #122641;
      border-radius: 1rem;
      padding: 0.2rem;
      margin: 0.5rem;
    }

    .albm1 {
      flex: 1;
    }

    .rev2 {
      /* border: #e63946 solid 1px; */
      background-color: #122641;
      border-radius: 1rem;
      padding: 0.2rem;
      margin: 0.5rem;
    }

    .albm2 {
      flex: 2;
    }

    .rev3 {
      /* border: #e63946 solid 1px; */
      background-color: #122641;
      border-radius: 1rem;
      padding: 0.2rem;
      margin: 0.5rem;
    }

    .albm3 {
      flex: 3;
    }

    .rev4 {
      /* border: #e63946 solid 1px; */
      background-color: #122641;
      border-radius: 1rem;
      padding: 0.2rem;
      margin: 0.5rem;
    }

    .albm4 {
      flex: 4;
    }





    /* ---- Corinna's section ---- */
    .art-and-media {
      background-color: #122641;
      margin: 0.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
  grid-column: 1fr;
  margin: 1rem;
      
    }

.artandmediatitle {
  grid-column:1/4;
  grid-row: 1/2;
  font-size: 4rem;
  padding: 1rem 1rem 1rem 1rem;
}

.big-story {
  text-size: 5rem;
  grid-row: 2/3;
  grid-column:1/4;
  padding: 3rem 3rem 3rem 3rem;
  text-align: center;
  background-color: #0a192d;
  border-radius: 3rem;
  margin: 1rem 1rem 1rem 1rem;
  
  
}

.story-1 {
  grid-row:3/4;
  grid-column:2/6;
  padding: 1rem 1rem 1rem 1rem;
}

.story-2 {
  grid-row:4/5;
  grid-column:2/4;
  padding: 1rem 1rem 1rem 1rem;
}

.story-3 {
  grid-row:5/6;
  grid-column:2/4;
  padding: 1rem 1rem 1rem 1rem;
}

.story-4 {
  grid-row:6/7;
  margin-top: 2rem;
  grid-column:2/4;
  padding: 1rem 1rem 1rem 1rem;
}

.photo-1 {
  grid-row:3/4;
  grid-column:1/2;
  padding: 1rem 1rem 1rem 1rem;
  width: 12rem;
  height: auto;
}

.photo-2 {
  grid-row:4/5;
  grid-column:1/2;
  padding: 1rem 1rem 1rem 1rem;
  width: 12rem;
  height: auto;
}

.photo-3 {
  grid-row:5/6;
  grid-column:1/2;
  padding: 1rem 1rem 1rem 1rem;
  width: 12rem;
  height: auto;
}

.photo-4 {
  grid-row:6/7;
  grid-column:1/2;
  padding: 1rem 1rem 1rem 1rem;
  width: 12rem;
  height: auto;
  margin-top: 2rem;

}

.container {
  display: flex;
  flex-direction:row;
  align-items: center;
  background-color: #0a192d; ;
  grid-column: 1/4;
}



    /* ---- Logan's section ---- */
    .watch-out {
      display: flex;
      flex-direction: column;
      background: rgb(29,53,87);
      background: linear-gradient(0deg, rgba(29,53,87,1) 90%, rgba(10,28,55,1) 100%);
      border-radius: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .watch-out-intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .watch-out-title {
      font-size: 3rem;
    }

    @media (min-width: 1300px) {
      .watch-out-title {
        font-size:5rem;
    }
  }

    .watch-out-subtitle {
      font-size: 1.5rem;
    }

    @media (min-width: 1300px) {
      .watch-out-subtitle {
        font-size:2rem;
    }
  }
    .watch-out-header-reviews {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
    }


    .header-review {
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-radius: 1rem;
      margin-right: 1rem;
      margin-left: 1rem;
      background-color: #122641;
      flex-direction: column;
    }


    .movie-review-content {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }

    .movie-poster {
      width: 5rem;
      height: auto;
      margin-left: 1rem;
      box-shadow:#a8dadc 0px 0px 8px;
    }

    .full-review-link {
      text-decoration: none;
      color: #f1faee;
    }

    .full-review-link:hover {
      text-decoration: underline;
      color: #FCD53F;
    }

    .full-movie-review {
      display: flex;
      flex-direction:column;
      align-items: center;
      padding: 1rem;
      margin: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      border-radius: 1rem;
      background-color: #122641;
    }

    @media (min-width: 1300px) {
      .full-movie-review {
        flex-direction:row;
    }
  }

    .review-content-section {
      padding: 1rem;
      border-radius: 1rem;
      margin-left: 1rem;
    }

    .large-movie-poster {
      width:13rem;
      height:auto;
      margin-left: 1rem;
      box-shadow:#a8dadc 0px 0px 8px;
    }

    .profile-pic-img {
      width: 1.5rem;
      height: auto;
    }

    .review-post-section {
      padding: 1rem;
      border-radius: 1rem;
      margin-top: 1rem;
      background-color: #0a192d;
    }

    .review-title {
      font-size: 2rem;
    }

    .user-info {
      display: flex;
      align-items: center;
      max-width: fit-content;
      padding: 0.5rem;
      border-radius: 1rem;
      margin-top: 0.5rem;
      background-color: #04101d;
    }

    .user-info p {
      margin-left: 0.5rem;
      font-size: 1.2rem;
    }

    .review-text {
      margin-top: 1rem;
      font-size: 1.1rem;
    }


    .full-movie-reviews-section {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    .star-rating{
      text-shadow: #a8dadc 0px 0px 8px;
    }

    .large-star-rating{
      text-shadow: #a8dadc 0px 0px 8px;
      font-size: 2rem;
    }

    /* ---- end of Logan's section ---- */

    /* ---- Newsletter Sign-up Form ---- */

.newsletter-form {
  background-color: #457b9d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  color: #a8dadc;
  text-align: center;
  width: fit-content;
  border-radius: 1rem;
  margin: 2rem;
  padding: 1rem;
}

.newsletter-form h2 {
  color: #122641;
  font-weight: bolder;
  font-size: 2.5rem;
}

.newsletter-form p {
  color: #1d3557;
  font-style: oblique;
  font-size: 1.5rem;
  margin: 1rem;
}

.textbox {
  margin: 0.5rem;
  border-radius: 1rem;
  border: none;
  width: 90%;
}

.formstyle {
  margin: 1rem;
  width: 80%;
}

.submit {
  margin: 1rem;
  border-radius: 1rem;
  border: none;
  width: 90%;
  background-color: #1d3557;
  color: #a8dadc;
  font-size: 1.5rem;

}

.submit:hover {
  background-color: #a8dadc;
  color: #1d3557;
  cursor: pointer;
}

/* ---- Footer Section ---- */

footer{
  background: rgb(29,53,87);
  background: linear-gradient(0deg, rgba(10,28,55,1) 10%, rgba(29,53,87,1) 100%);
}

.footer-grid {
  padding: 0.5rem;
  padding-right:1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .footer-grid{
    flex-direction:row;
  }
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:1.3rem;
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  footer ul{
    flex-direction:row;
  }
}

footer ul li {
  margin-left: 2.8rem;
}

footer ul li a {
  text-decoration:none;
  color:white;
}

footer ul li a:hover {
  text-decoration: underline;
}

.bottom-block-logo{
  height:3rem;
  width:auto;
  border-radius: 1rem;
  margin:1rem;
}